.info {
	background-image: url(img/bg-info.jpg);
	background-size: cover;
	background-position: top center;
}

.info__wrap {
	position: relative;
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 60px 60px;
}

.info__logo {
	max-width: 100%;
	padding-top: 180px;
	margin-bottom: 40px;
}

.info__logo img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.info__text {
	font-size: 88px;
	text-align: center;
	color: #004757;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 25px;
	font-family: RopaMixPro;
	font-weight: normal;
}

.info__desc {
	font-size: 60px;
	color: #f7e400;
	text-shadow: 4px 3px 0 #004757;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 65px;
	font-weight: 900;
}

@media screen and (max-width: 1430px) {

.info__wrap {
	padding: 0px 40px 40px;
}

.info__logo {
	padding-top: 80px;
}

.info__text {
	font-size: 80px;
}

}

@media screen and (max-width: 1350px) {

.info__text {
	font-size: 70px;
}

.info__desc {
	font-size: 40px;
	padding-bottom: 40px;
}

}

@media screen and (max-width: 1050px) {

.info__wrap {
	padding: 0 30px 40px;
}

}

@media screen and (max-width: 960px) {

.info__wrap {
	padding: 0 20px 40px;
}

.info__text {
	font-size: 40px;
}

.info__desc {
	font-size: 32px;
}

}

@media screen and (max-width: 780px) {

.info__logo {
	padding-top: 50px;
}

}

