body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	color: #333333;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "Montserrat";
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.container--inner {
	max-width: 1920px;
	padding: 0px;
}

.title {
	font-size: 60px;
	line-height: 1;
	padding-bottom: 30px;
	font-weight: 900;
}

.subtitle {
	font-size: 36px;
	line-height: 1;
	color: #333333;
	text-transform: uppercase;
	padding-bottom: 40px;
	font-weight: 900;
}

.subtitle--inner {
	text-transform: none;
	padding-top: 22px;
	padding-bottom: 56px;
}

.subtitle--block {
	text-transform: none;
	color: #004757;
	padding-bottom: 32px;
}

.details__btn {
	font: inherit;
	user-select: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 18px;
	color: #014957;
	background-color: #fff;
	border: none;
	outline: none;
	padding: 0px;
	font-weight: 900;
}

.details__btn:hover {
	color: #000405;
}

.details__btn:hover .details__block {
	fill: #000405;
}

.details__info {
	padding-right: 22px;
	transition: 0.3s color;
}

.details__block {
	display: block;
	fill: #014957;
	transition: 0.3s fill;
}

.input {
	display: block;
	width: 100%;
	background-color: #eeeeee;
	border-radius: 5px;
	border: 1px solid #c8c8c8;
	outline: none;
	padding: 14px 15px;
	padding-bottom: 15px;
}

.input--textarea {
	resize: none;
	min-height: 135px;
}

.input.form-fail {
	border-color: #b00;
}

.input.form-done {
	border-color: #90ee90;
}

.btn {
	max-width: 290px;
	width: 100%;
	display: block;
	font: inherit;
	font-size: 24px;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: #0a697b;
	padding: 11px 5px;
	transition: 0.3s background-color;
}

.btn--call {
	cursor: pointer;
	margin: 0 auto;
}

.btn--call:hover {
	background-color: #05343d;
}

.btn--send {
	margin-bottom: 40px;
}

.btn--send[disabled] {
	cursor: default;
	opacity: 0.5;
	text-decoration: line-through;
}

.btn--send:not(:disabled) {
	cursor: pointer;
}

.btn--send:not(:disabled):hover {
	background-color: #05343d;
}

.btn-scroll {
	cursor: pointer;
	position: fixed;
	z-index: 10;
	bottom: 158px;
	right: 68px;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 0px;
	box-shadow: 0 20px 60px rgba(131, 131, 131, 0.2);
	background-color: #ffffff;
}

.btn-scroll:after,
.btn-scroll:before {
	content: '';
	position: absolute;
}

.btn-scroll:after {
	top: calc(50% - 15px);
	left: calc(50% - 2px);
	width: 4px;
	height: 30px;
	background-color: #1a4851;
	transition: 0.3s background-color;
}

.btn-scroll:before {
	top: calc(50% - 13px);
	left: calc(50% - 8px);
	width: 16px;
	height: 16px;
	border-top: 4px solid #1a4851;
	border-right: 4px solid #1a4851;
	transform: rotate(-45deg);
	transition: 0.3s border-color;
}

.decor {
	position: absolute;
	top: 0px;
	right: 0px;
	max-width: 38%;
	width: 100%;
	height: 105%;
	min-height: 105vh;
	background-color: #004757;
	padding: 50px 44px;
	padding-bottom: 0px;
}

.decor--inner {
	background-color: rgba(0, 71, 87, 0.9);
}

.decor__bg {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: repeat;
}

.wrapper {
	position: relative;
}

.wrapper__aside {
	position: fixed;
	z-index: 11;
	top: 0px;
	transform: translateX(0px);
	width: 215px;
	height: 100vh;
	padding: 20px;
	background-color: #004757;
	transition: 0.3s transform;
}

.wrapper__box {
	width: calc(100% - 215px);
	margin-left: 215px;
}

[data-elem="block"] {
	position: sticky;
	z-index: 3;
	top: 0px;
	left: 0px;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
	min-height: 107vh;
	overflow: hidden;
}

.breadcrumbs__list {
	margin-bottom: 12px;
}

.breadcrumbs__list li {
	display: inline-block;
	text-transform: uppercase;
}

.breadcrumbs__list li a {
	position: relative;
	margin-right: 7px;
	transition: 0.3s color;
}

.breadcrumbs__list li a:hover {
	color: rgba(102, 102, 102, 0.5);
}

.breadcrumbs__list li a:after {
	margin-left: 9px;
	content: '/';
	color: #333333;
}

.breadcrumbs__list li,
.breadcrumbs__list a {
	font-size: 14px;
	line-height: 1.3;
	color: #333333;
}

.search {
	padding: 20px 60px;
	padding-top: 25px;
}

.search__title {
	text-transform: uppercase;
	color: #333;
	padding-bottom: 30px;
	font-style: normal;
}

.msg-page {
	padding: 0 20px;
}

@media screen and (max-width: 1430px) {

.title {
	font-size: 44px;
}

.subtitle {
	font-size: 30px;
}

.btn-scroll {
	right: 20px;
}

.decor {
	max-width: initial;
	width: 250px;
	padding: 40px 20px;
	padding-bottom: 0px;
}

.search {
	padding: 20px 40px;
}

}

@media screen and (max-width: 1150px) {

[data-elem="block"] {
	position: static;
	box-shadow: none;
	min-height: auto;
	height: auto;
}

}

@media screen and (max-width: 1050px) {

.decor {
	width: 100%;
	height: 298px;
	min-height: 500px;
	position: static;
	padding: 0;
}

.decor__bg {
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
}

}

@media screen and (max-width: 960px) {

.title {
	font-size: 36px;
	padding-bottom: 32px;
	overflow-wrap: anywhere;
}

.subtitle {
	font-size: 24px;
	padding-bottom: 30px;
	overflow-wrap: anywhere;
}

.btn-scroll {
	bottom: 40px;
}

.wrapper__aside {
	padding-top: 60px;
	transform: translateX(-100%);
}

.wrapper__aside--active {
	transform: translateX(0px);
	width: 100%;
}

.wrapper__box {
	margin-left: 0px;
	width: 100%;
}

.search {
	padding: 20px;
	padding-top: 25px;
}

.msg-page {
	padding: 0;
}

}

@media screen and (max-width: 780px) {

.container--header {
	padding: 0px;
}

}

@media screen and (max-width: 650px) {

.decor {
	min-height: 298px;
}

}

