.practic {
	background-color: #fff;
}

.practic__content {
	position: relative;
}

.practic__wrap {
	max-width: 62%;
	padding: 98px 60px;
	padding-bottom: 50px;
}

.practic__text {
	padding-top: 5px;
	padding-bottom: 44px;
}

.practic__text p {
	font-size: 16px;
	line-height: 2.2;
	color: #333333;
}

.practic__form {
	display: flex;
	border-radius: 5px;
	background-color: #dcdcdc;
	margin-bottom: 55px;
}

.practic__input {
	display: block;
	width: 100%;
	color: #808080;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 15px 20px;
	padding-bottom: 16px;
}

.practic__input::placeholder {
	color: #808080;
}

.practic__btn {
	cursor: pointer;
	display: block;
	width: 46px;
	height: 50px;
	border: none;
	outline: none;
	background-color: inherit;
	padding: 0px;
}

.practic__btn svg {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}

.practic__holder {
	display: flex;
	flex-wrap: wrap;
}

.practic__box {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	font-size: 16px;
	color: #014957;
	border: 2px solid #3f7e8a;
	border-radius: 5px;
	background-color: #eeeeee;
	padding: 10px 20px;
	margin-bottom: 28px;
	transition: 0.3s background-color, 0.3s color;
}

.practic__box:hover {
	background-color: #fff;
	color: #000;
}

.practic__box:not(:last-child) {
	margin-right: 27px;
}

@media screen and (max-width: 1530px) {

.practic__wrap {
	padding: 85px 40px;
}

}

@media screen and (max-width: 1430px) {

.practic__wrap {
	max-width: initial;
	padding: 65px 45px;
	width: calc(100% - 250px);
}

}

@media screen and (max-width: 1050px) {

.practic__wrap {
	width: 100%;
	padding: 55px 30px;
	padding-bottom: 40px;
}

}

@media screen and (max-width: 960px) {

.practic__wrap {
	padding: 40px 20px;
	padding-top: 45px;
}

.practic__text p {
	line-height: 1.7;
}

}

