.staff {
	background-color: #f2f2f2;
}

.staff__content {
	position: relative;
}

.staff__wrap {
	max-width: 62%;
	padding: 80px 60px;
}

.staff__block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}

.staff__image {
	width: 400px;
	display: flex;
	justify-content: center;
	margin-bottom: 55px;
}

.staff__image img {
	display: block;
	margin: 0 auto;
}

.staff__desc {
	width: calc(100% - 400px);
	padding-left: 45px;
	margin-bottom: 55px;
}

.staff__desc p {
	font-size: 16px;
	line-height: 2.25;
	color: #004757;
	font-weight: bold;
}

.staff__text p {
	font-size: 16px;
	line-height: 2.25;
	color: #333333;
	padding-bottom: 2.5em;
}

@media screen and (max-width: 1700px) {

.staff__image {
	width: 300px;
}

.staff__desc {
	width: calc(100% - 300px);
	padding-left: 35px;
}

}

@media screen and (max-width: 1530px) {

.staff__wrap {
	padding: 70px 40px;
}

}

@media screen and (max-width: 1430px) {

.staff__wrap {
	max-width: initial;
	width: calc(100% - 250px);
}

}

@media screen and (max-width: 1350px) {

.staff__image {
	max-width: 200px;
	width: 100%;
	margin-bottom: 35px;
}

.staff__desc {
	width: 100%;
	padding-left: 0px;
	margin-bottom: 50px;
}

}

@media screen and (max-width: 1050px) {

.staff__wrap {
	width: 100%;
	padding: 55px 30px;
}

}

@media screen and (max-width: 960px) {

.staff__wrap {
	padding: 55px 20px;
}

.staff__image {
	margin: 0 auto;
	margin-bottom: 35px;
}

.staff__desc {
	margin-bottom: 35px;
}

.staff__desc p {
	line-height: 1.7;
}

.staff__text p {
	line-height: 1.7;
}

}

